[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
matplotlib = "*"
statsmodels = "*"
osmnx = "*"
drogi = "*"
plaidml-keras = "*"
plaidbench = "*"
talos = "*"
"autopep8" = "*"
pydot = "*"
ann-visualizer = "*"
graphviz = "*"
keras-sequential-ascii = "*"
xlsxwriter = "*"
xlrd = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.6"
